<section id="carousel">
  <div id="carouselSynogix" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselSynogix" data-slide-to="0" class="active"></li>
      <li data-target="#carouselSynogix" data-slide-to="1"></li>
      <li data-target="#carouselSynogix" data-slide-to="2"></li>
      <li data-target="#carouselSynogix" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">


      <div class="carousel-item active">
        <img src="{{site.baseurl}}/assets/img/carousel/loading.jpg" alt="loading synogix" width="100%">
      </div>
      <div class="carousel-item">
        <img src="{{site.baseurl}}/assets/img/carousel/storage.jpg" alt="storage synogix" width="100%">
      </div>
      <div class="carousel-item">
        <img src="{{site.baseurl}}/assets/img/carousel/autostore.jpg" alt="autostore synogix" width="100%">
      </div>
      <div class="carousel-item ">
        <img src="{{site.baseurl}}/assets/img/carousel/warehouse.jpg" alt="warehouse synogix" width="100%">
      </div>
      
    </div>
  </div>
</section>
