<footer class="container d-none d-md-block d-lg-block">
  <div class="row mb-100">
    <div class="col-md-7 col-lg-8">
      <div class="row footer-logo">
        <div class="col">
           <img src="{{site.baseurl}}/assets/img/svg/logo-footer.svg" class="img-fluid" alt="synogix">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <p>
            SB Logistic NV <br>
            Meersbloem 32 <br>
            9700 Oudenaarde <br>
            Belgium <br>
            Europe
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          +32 55 33 56 56 <br>
          <a href="mailto:hello@synogix.com">hello@synogix.com</a>
        </div>
        <div class="col-lg-4 col-md-12">
          <a class="btn btn-custom btn-active btn-md" href="{{site.baseurl}}/{{page.lang}}/{{ site.data.translate.t['get_in_touch_URL'][page.lang] }}" role="button">{{ site.data.translate.t['get_in_touch'][page.lang] }} <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-4 border-left">
      <ul class="footer-menu">

        {% for menu in site.data.navigation[page.lang] %}
          {% assign active = nil %}
          {% assign active = '/' | append: page.lang | append: menu[1].url | append: '.html' %}
          {% if page.url == active %}
            {% assign active = 'active' %}
          {% endif %}

          {% if menu[1].subcategories %}
            {% for subcategory in menu[1].subcategories %}
            <li class="{{menu[1].name}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} nav-item">
              <a href="{{site.baseurl}}/{{page.lang}}{{subcategory[1].url}}" class="{{subcategory[1].name}}">{{subcategory[1].name}}</a>
            </li>
            {% endfor %}
          {% else %}
            <li class="{{menu[1].name}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} nav-item">
              <a href="{{site.baseurl}}/{{page.lang}}{{ menu[1].url }}" class="{{menu[1].name}}">{{ menu[1].name }}</a>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col copyright">
      &copy 2021 - <span class="year"></span> Synogix. All rights reserved. | <a href="{{site.baseurl}}/{{page.lang}}/privacy-cookie-policy" title="Privacy and cookie policy Synogix">Privacy and cookie policy</a>
    </div>
  </div>
</footer>

<footer class="container d-md-none d-lg-none">
  <div class="row">
    <div class="col">
      <div class="footer-top">
        <ul class="footer-menu">
          {% for menu in site.data.navigation[page.lang] %}
            {% assign active = nil %}
            {% assign active = '/' | append: page.lang | append: menu[1].url | append: '.html' %}
            {% if page.url == active %}
              {% assign active = 'active' %}
            {% endif %}

            {% if menu[1].subcategories %}
              {% for subcategory in menu[1].subcategories %}
              <li class="{{menu[1].name}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} nav-item">
                <a href="{{site.baseurl}}/{{page.lang}}{{subcategory[1].url}}" class="{{subcategory[1].name}}">{{subcategory[1].name}}</a>
              </li>
              {% endfor %}
            {% else %}
              <li class="{{menu[1].name}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} nav-item">
                <a href="{{site.baseurl}}/{{page.lang}}{{ menu[1].url }}" class="{{menu[1].name}}">{{ menu[1].name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <a class="btn btn-custom btn-active btn-md" href="{{site.baseurl}}/{{page.lang}}/{{ site.data.translate.t['get_in_touch_URL'][page.lang] }}" role="button">{{ site.data.translate.t['get_in_touch'][page.lang] }}</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col footer-bottom">
      <img src="{{site.baseurl}}/assets/img/svg/logo-footer.svg" class="img-fluid" alt="synogix">
       <p>
          SB Logistic NV <br>
          Meersbloem 32 <br>
          9700 Oudenaarde <br>
          Belgium <br>
          Europe
        </p>
        <p>
          +32 55 33 56 56 <br>
          <a href="mailto:hello@synogix.com">hello@synogix.com</a>
        </p>
        <div class="copyright">
          &copy 2021 - <span class="copy-year"></span> Synogix. All rights reserved.<br> <a href="{{site.baseurl}}/{{page.lang}}/privacy-cookie-policy" title="Privacy and cookie policy Synogix">Privacy and cookie policy</a>
        </div>

    </div>
  </div>

</footer>
