<section class="question-block">
    <div class="form-wrapper">
      <div class="container form-block text-center">
        <div class="row mb-4">
          <div class="col-12">
            <h2 class="h1 mb-0">{{include.title}}</h2>
          </div>
          <div class="col-12 mt-4">
            <img src="{{site.baseurl}}/assets/img/management/sebastien.jpg" alt="sebastien" class="img-fluid rounded-circle border-1 mb-2" style="border:1px solid #1F62AF;width:150px;">
            <h4>Sébastien Van Houte</h4>
            <p><span class="d-block d-md-inline"><i class="fas fa-phone ml-md-3 mr-1"></i> +32 55 33 56 56</<span> <span class="d-block d-md-inline"><a href="mailto:sebastien.vanhoute@synogix.com"><i class="far fa-envelope ml-md-3 mr-1"></i> sebastien.vanhoute@synogix.com</a></span></p>
          </div>
        </div>

      </div>
    </div>
</section>
