<head>
  <!-- Required meta tags -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KXPD8LS');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

  <title>{% if page.title == "home" %}{{ site.title[page.lang] }}{% else if page.title %}{{ page.title | escape | append: " | " | append: site.title[page.lang] }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.keywords[page.lang] | escape }}{% endif %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap-extension.min.css">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/menufullpage.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/header.css">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">


</head>
