<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-red white">
        <h5 class="modal-title">Get in touch</h5>
        <button type="button" class="close white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Fill In this form and we’ll get in touch with you.</p>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
        <script>
          hbspt.forms.create({
        	portalId: "7878927",
        	formId: "d0eb55af-e1d0-45c1-9c7f-e8b8f4de34d6"
        });
        </script>
      </div>
    </div>
  </div>
</div>
