<nav class="navbar navbar-expand-lg fixed-top navbar-dark py-lg-3">
  <div class="container">
    <a class="navbar-brand mr-auto mr-lg-3" href="{{site.baseurl}}/{{page.lang}}"><img src="{{site.baseurl}}/assets/img/svg/mobile-logo.svg" alt="synogix" class="img-fluid" ></a>
    <a href="tel:+3255335656" title="call" class="btn btn-primary btn-phone d-block d-lg-none mr-2"><i class="fas fa-phone"></i> </a>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {% for menu in site.data.navigation[page.lang] %}
        {% assign active = nil %}
        {% assign active = '/' | append: page.lang | append: menu[1].url | append: '.html' %}
        {% if page.url == active %}
        {% assign active = 'active' %}
        {% endif %}

        {% if menu[1].subcategories %}
        <li class="{{menu[1].name}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu[1].name }}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for subcategory in menu[1].subcategories %}
            <a href="{{site.baseurl}}/{{page.lang}}{{subcategory[1].url}}" class="dropdown-item">{{subcategory[1].name}}</a>
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li class="{{menu[1].name}} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} nav-item">
          <a href="{{site.baseurl}}/{{page.lang}}{{ menu[1].url }}" class="nav-link {{menu[1].name}}">{{ menu[1].name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <a href="tel:+3255335656" title="call" class="btn btn-primary btn-phone d-none d-lg-block mr-2"><i class="fas fa-phone"></i> </a>
    </div>

  </div>
</nav>
