{% if page.lang == "en" %}

<section class="slogan py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="text text-center blue">
        <p>we provide <strong>cost-efficient logistics solutions</strong> that drive your business forward, long term.</p>
      </div>
      </div>
    </div>
  </div>
</section>

{% elsif page.lang == "nl" %}

<section class="slogan py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="text text-center blue">
        <p>Wij leveren <strong>kostenefficiënte logistieke diensten</strong> gericht op de toekomst van uw bedrijf.</p>
      </div>
      </div>
    </div>
  </div>
</section>

{% elsif page.lang == "fr" %}

<section class="slogan py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="text text-center blue">
        <p>nous fournissons des <strong>solutions logistiques rentables</strong> qui font avancer votre entreprise, à long terme.</p>
      </div>
      </div>
    </div>
  </div>
</section>

{% endif %}
