<section class="mb-5 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3">
        <div class="card card-timeline bg-blue white">
          <div class="card-body">
            <h5 class="card-title text-center h3">1950</h5>
          </div>
        </div>
      </div>
      {% for item in site.data.timeline %}
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3">
        <div class="card card-timeline year">
          <div class="card-body">
            <h5 class="card-title blue mb-2">{{item.year}}</h5>
            <p class="card-text small">{{item.text[page.lang]}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-3">
        <div class="card card-timeline bg-blue white">
          <div class="card-body">
            <h5 class="card-title text-center h3">{{ site.data.translate.t['timeline_today'][page.lang] }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
