
<div class="gradient"></div>
<section class="top bg-red white py-1">
  <div class="container">
    <div class="row">
      <div class="col-5 col-sm-6 text-left">
        <p class="mb-0 small"><strong><span class="d-none d-md-inline">{{include.title}}</span></strong> <i class="fas fa-phone fa-xs d-inline d-md-none"></i> +32 55 33 56 56</p>
      </div>
      <div class="col-7 col-sm-6 text-right">
        <p class="mb-0 small">
          <a href="{{site.baseurl}}/{{page.lang}}/{{ site.data.translate.t['client_portal_url'][page.lang] }}" class="px-2"><i class="fas fa-lock px-1"></i> <span class="d-none d-sm-inline">{{ site.data.translate.t['client_portal'][page.lang] }}</span></a>
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
          <a href="{{site.baseurl}}{{ page.url }}" class="{{ page.lang }} px-2">{{page.lang}}</a>
          {% endfor %}

          {% assign posts = site.posts | where:"ref", page.ref | sort: 'lang' %}
          {% for post in posts %}
          <a href="{{site.baseurl}}{{ post.url }}" class="{{ page.lang }} px-2">{{post.lang}}</a>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</section>
