---
layout: default
title: Join our logistics team!
ref: careers
description: Looking for a logistics job? Join logistics partner Synogix, where we improve logistics for brands. Let your success story start here.
keywords: Synogix jobs, logistic jobs, warehouse jobs, jobs at logistics company, logistics team, logistics partner
lang: en
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>


<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3"><span class="blue">Working</span> at Synogix</h2>
        <p><strong>Are you looking for a job at a logistics company?</strong></p>
        <p>SYNOGIX is a success story that is written by our employees. Together, we are a fantastic team that gives its best every day to help our customers grow. </p>
        <p>We believe in encouraging talented individuals to help them develop their talents and skills and leverage their strengths. As we grow as a company, you can grow with us. The diversity of our services and internal career opportunities offer you additional perspectives.</p>
        <p>If you’re ready to give us your best, we are happy to welcome you to SYNOGIX! <strong>Let your success story begin here! </strong></p>

        <p>Check out our <strong>current logistics job openings</strong> below. If your new challenge is not listed, please feel free to send us an <strong>open application</strong>.<br/><span class="bold">We look forward to hearing from you.</span> </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-10 offset-md-1">
        <div class="text text-center ">
        <p>The enthusiasm of our team is motivating and pushes me to go to the maximum for each shipment.<br /><i>- Nick, Warehouse manager</i></p>
      </div>
      </div>
    </div>

  </div>
</section>



<section class="mt-5 py-5 bg-red white">
  <div class="container py-lg-5">
    <div class="row">
      <div class="col mb-4">
        <h2 class="h1 mb-3">Open application</h2>
        <p>Are you convinced you can offer added value to our logistics company? Then don’t hesitate and apply spontaneously. Just send your resume and motivation to <a href="mailto:hr@synogix.com"><u>hr@synogix.com</u></a> and we will contact you as soon as possible! </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3">Logistics job openings</h2>
        <p>Come back regularly, because we will publish logistics job openings in the near future!</p>
      </div>
    </div>
  </div>
</section>

{% include carousel.html %}

{% include form.html title="Need more information about our 3pl solutions?" %}
