---
layout: default
title: Client portal
ref: client-portal
description: Client portal of Synogix, with access to extensive warehouse and carrier information. Manage your logistics through our cloud software.
keywords: Client portal Synogix, warehouse information, carrier information, logistics, cloud software, logistics software
lang: en
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag-card">
        <div class="wrap login">

          <div class="row">
            <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">

              <h1 class="text-center white text-shadow mb-3">Client Portal</h1>
              <div class="card card-login bg-blue white">
                <div class="card-header text-center">
                  <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                  <form novalidate="" class="ng-dirty ng-touched ng-valid">
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-valid ng-touched" formcontrolname="email" id="email" required="" type="email" placeholder="E-mail *">
                    </div>
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-valid ng-touched" formcontrolname="password" id="password" required="" type="password" placeholder="Password *">
                    </div>
                    <div class="form-group form-check"><input class="form-check-input ng-untouched ng-pristine ng-valid" formcontrolname="rememberMe" id="rememberMe" name="rememberMe" type="checkbox">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                      <a class="float-right" href="/en/forgot-password">Forgot password?</a>
                    </div>
                  <button class="btn btn-custom btn-active" type="submit"><span>Log in</span> <i class="fas fa-angle-double-right fa-xs ml-3"></i></button>
                </form>
              </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
