---
layout: default
title: Contact us
ref: contact-us
description: More information about our 3PL solutions? Get in touch and get a transparent, cost-effective offer for your brand.
keywords: Contact Synogix, 3PL solutions, 3PL logistics, shipping company, supply chain management, logistics partnership, third party logistics, logistics management, fulfilment service, distribution logistics
lang: en
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag-card">
        <div class="wrap contact">
          <div class="card card-contact bg-blue white p-4">
            <div class="card-header">
              <img src="{{site.baseurl}}/assets/img/management/sebastien.jpg" alt="sebastien" class="img-fluid rounded-circle border-1 float-left mr-3" style="border:1px solid #1F62AF;width:150px;">
              <h1 class="mb-3 d-inline-block">Get in touch!</h1>
              <p><span class="d-block d-md-inline">Sébastien Van Houte:</span> <span class="d-block d-md-inline"><i class="fas fa-phone ml-md-3 mr-1"></i> +32 55 33 56 56</span> <span class="d-block d-md-inline"><a href="mailto:sebastien.vanhoute@synogix.com"><i class="far fa-envelope ml-md-3 mr-1"></i> sebastien.vanhoute@synogix.com</a></span></p>
              <p>Do you want to have more information about our 3PL solutions? Our dedicated and experienced team is here to help you! Let’s connect and see how we can provide the answer to your logistics challenges.</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-6 mb-3">
                  <p>After filling in your contact details, we will:</p>
                  <ul class="fa-ul">
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Get back to you within 24h</li>
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Offer a 3PL solution for your brand</li>
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Arrange a meeting to discuss a transparent offer</li>
                </div>
                <div class="col-12 col-md-6">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                  hbspt.forms.create({
                	portalId: "7878927",
                	formId: "e0c24211-1c24-4acc-9ba3-41a72edfe974"
                });
                </script>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
