---
layout: default
title: Download presentation
ref: download-presentation
description:
lang: en
---


{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag-card">

        <div class="wrap login">

          <div class="row">
            <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
              <div class="card card-download bg-blue white">
                <div class="card-body">
                  <h3 class="card-title">{{page.title}}</h3>
                  <p class="card-text">Thank you for your interest.  You can download our presentation through below link.</p>
                  <p class="card-text"><a href="{{site.baseurl}}/assets/download/synogix-presentation.pdf" target="_blank" class="btn btn-custom btn-active">Download <i class="fas fa-angle-double-right fa-xs ml-3"></i></a></p>
              </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>
