---
layout: default
title: Success stories as a logistics partners
ref: success-stories
description: We’re the logistics partner of several recognized brands. With success stories in logistics order volumes and order picking system Autostore.
keywords: logistics partner, supply chain solutions, autostore, order picking, order picking system, stock management, logistics company, logistics solutions
lang: en
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner narrow {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>



<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cm56z5PfcnE" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="h1 mb-3"><img src="{{site.baseurl}}/assets/img/references/trixie.svg"></h2>
            <h5 class="blue"><img src="{{site.baseurl}}/assets/img/references/industry.svg"><span class="align-bottom ml-2">Industry</span></h5>
            <p class="lead">Trixie is a Belgian company, specialized in making sustainable baby and children's products.</p>
            <p><a href="https://www.trixie-baby.com/" target="_blank">www.trixie-baby.com</a></p>
            <span class="border-bottom d-block w-100 mb-3"></span>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="blue"><img src="{{site.baseurl}}/assets/img/references/challenge.svg"><span class="align-bottom ml-2">Challenge</span></h5>
            <p>In recent years, Trixie acquired a strong position in its market, with a growth of 20-30% as a result. But this also led to some logistics growing pains, such as capacity challenges and difficult logistics flows.</p>
            <p>Since Trixie's customer portfolio consists of a mix of private customers, larger chains and online players, they were looking for an external logistics partner who could handle both its B2B and B2C distribution. And who could meet the logistic requirements of some of its larger B2B customers. </p>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/solution.svg"><span class="align-bottom ml-2">Logistics solution</span></h5>
            <h6><strong>Omnichannel fulfilment</strong></h6>
            <p>Thanks to years of experience in omnichannel fulfilment, we can serve all kinds of end-customers today from the same warehouse. And we can process both large B2B orders and sensitive webshop orders in a cost-efficient and operationally streamlined way. By taking care of both Trixie's inbound and outbound logistics, we managed to bring back the organization’s balance.</p>
            <p>In addition, we ensure that Trixie can once again fully focus on its core activities. This by taking care of all logistics matters: handling their peak moments, providing of extra storage space and meeting the need for a better (IT) structure. In this way, we allow Trixie to be scalable and grow even further. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section id="section2" class="py-5 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3">We’re the logistics partner of several recognized brands</h2>
        <p><strong>Many world-renowned apparel, footwear and sports brands </strong>already trust Synogix as their logistics partner. Each of our customers has its own <strong>specific needs and challenges</strong>. Synogix is highly flexible and is always looking for a suitable supply chain solution for every client.</p>
        <div class="logos py-5">
          <ul class="list-unstyled">
            {% for logo in site.data.references %}
            <li><a href="{{logo.url}}" target="_blank" rel="noreferrer"><img src="{{site.baseurl}}/assets/img/references/{{logo.image}}.svg" class="img-fluid" alt="{{logo.name}}"></a></li>
            {% endfor %}
          </ul>
          <p>Discover below the specific challenges of our customers and how we have overcome these together as their logistics partner.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-red white">
  <div class="container py-lg-5">
    <div class="row">
      <div class="col-12 col-xl-4 mb-4">
        <h2 class="h1 mb-5">Patrick</h2>

        <div class="card black p-4">
          <div class="card-body">
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/industry.svg"><span class="align-bottom ml-2">Industry</span></h5>
            <p class="card-text">Patrick is specialized in teamwear for sports clubs.</p>

            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/challenge.svg"><span class="align-bottom ml-2">Challenge</span></h5>
            <p class="card-text">Patrick is a <strong>typical example of peak deliveries</strong>. 70% of the total volume has to be delivered to the clubs in 3 months, just before the start of a new season.</p>
            <p class="card-text">Moreover, Patrick also has an <strong>exceptional order profile</strong>: clubs order specific items per individual player that need to be personalised correctly later in the process.</p>

            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/solution.svg"><span class="align-bottom ml-2">Logistics solution</span></h5>
            <p class="card-text">As their trusted logistics partner, we helped Patrick overcome these challenges. To do this, we invested in a revolutionary goods-to-man order picking system: <strong>AutoStore.</strong></p>
            <p class="card-text">With the help of AutoStore, products are stored in 44.000 extremely compactly stacked bins, over which robots operate. This makes storage and order picking for Patrick flawless, fast, dust-free, anti-theft and durable.</p>
            <p class="card-text"><a href="https://www.patrick.eu/" target="_blank">www.patrick.eu</a></p>
          </div>
        </div>


      </div>
      <div class="col-12 col-xl-8 mb-4">
        <p><img src="{{site.baseurl}}/assets/img/references/patrick-image.jpg" alt="patrick" class="img-fluid"></p>
      </div>
    </div>
  </div>
</section>

{% include carousel.html %}

{% include form.html title="Need more information about our supply chain solutions?" %}
