---
layout: default
title: Logistics company
ref: who-we-are
description: Synogix excels in transparent third-party logistics, offering different cost-effective logistics solutions. Logistics company with warehouse management in Europe and Asia.
keywords: logistics company, third party logistics, warehouse management, warehousing solutions, supply chain management, bonded warehousing, logistics Europe, logistics Asia
lang: en
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>A logistics company with in-depth experience</h1>
        <div class="buttons mt-5">
          <a class="btn btn-custom btn-active btn-md mb-2" href="{{site.baseurl}}/{{page.lang}}/contact-us" role="button">Contact us <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
          <a class="btn btn-custom btn-md ml-2 mb-2" href="#section2" role="button">More information <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
        </div>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>





<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-6 mb-3">
        <h2 class="h1 mb-3">What we do as <span class="blue">a logistics company</span></h2>
        <p>Synogix excels in <strong>transparent and omnichannel third party logistics </strong>for brands. With over 70 years of experience, we offer <strong>custom-designed</strong> and <strong>cost-effective</strong> logistics services so that you can fully focus on your brand and product.</p>
        <p>As your trusted logistics company, we ensure an extremely <strong>smooth and fast supply chain management</strong>. <strong>Data-driven insights</strong> allow us to make efficient decisions and to continuously boost all operations. Moreover, we always work closely together with our customers and look at their specific wants and needs to <strong>jointly decide on the most suitable logistics solution.</strong></p>
        <p>With our transparent <strong>logistics services and financial health</strong> at the base, <strong>technology</strong> as the tool and <strong>collaboration</strong> as the driving force, Synogix will meet and exceed brands’ logistic needs. Helping them to <strong>grow</strong>, through any channel, any market and anywhere.</p>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <img src="{{site.baseurl}}/assets/img/what-we-do.jpg" alt="what we do" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="bg-red white section-padding">
  <div class="container ">
    <div class="row text-center mb-4">
      <div class="col">
        <h2 class="h1 mb-4">Professional warehouse management in <strong>2 global logistic hotspots</strong></h2>
          <p class="mb-5">Our <strong>fulfilment centres</strong> are centrally located in <strong>Belgium</strong> – the heart of Europe – and <strong>China</strong> – the heart of Asia. From these logistic hotspots, we are ready to boost your business with our efficient and cost-effective third party logistics. By offering <strong>warehousing solutions</strong> supported by state-of-the-art warehouse management systems and the right mix of automation, robotization and getting things done.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6">
        <h3 class="mb-1 h2">Europe</h3>
        <p>3 warehouse locations</p>
      </div>
      <div class="col-6">
        <h3 class="mb-1 h2">Asia</h3>
        <p>2 warehouse locations</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <img src="{{site.baseurl}}/assets/img/locations-worldmap.png" class="img-fluid mb-4">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/warehouses.svg" class="img-fluid" alt="warehouse">
        </div>
        <div class="icon-detail">
          <span>100K</span> M<sup>2</sup><br>warehouse
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/packages.svg" class="img-fluid" alt="packages">
        </div>
        <div class="icon-detail">
          <span>1.5m</span><br>packages/year
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/employees.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>125</span><br>employees
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/bag.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>+25m</span><br>pieces/year
        </div>
      </div>
    </div>

    <div class="row text-center mt-5 pt-4">
      <div class="col">
        <div class="card card-red">
          <div class="card-body">
            <h2 class="mb-4">A few of our warehousing solutions:</h2>
            <ul class="list-unstyled lead">
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Warehousing design & development</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Warehousing process optimization</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Bonded warehousing, storage of goods and custom management</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Value added services</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Inventory & stock management</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Order processing, order picking & order fulfilment</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Returns management</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Cross-dock operations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

<section class="my-5 pt-5 pb-3">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-5 mb-4">
        <img src="{{site.baseurl}}/assets/img/history-cortina.jpg" alt="what we do" class="img-fluid">
      </div>
      <div class="col-12 col-md-7 text-left text-md-right my-md-auto">
        <h2 class="h1 mb-3">Our <span class="blue">history</span></h2>
        <p>Since <strong>1950</strong> Synogix has grown as the logistics company of several in-house brands within the <strong>Cortina group</strong>. Cortina started as a small shoe factory and has now grown into one of the largest footwear manufacturers in the world.</p>
        <p>Throughout the years, we have developed a state-of-the-art infrastructure and in-depth knowledge of logistics and warehouse management. That is why we decided in early 2020 to offer our excellent services to external strong brands that need reliable, omnichannel and cost-effective third party logistics.<strong> Synogix was born</strong></p>
      </div>
    </div>
  </div>
</section>

{% include timeline.html %}

<section class="bg-red white section-padding">
  <div class="container ">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="h1 mb-4">Our <strong>responsibility</strong></h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/health-safety.svg" class="img-fluid" alt="health and safety">
        </div>
        <div class="px-md-5">
          <h3>Health and Safety</h3>
          <p> We make it our <span class="bold">priority</span> to provide the <span class="bold">right tools and training</span> so that our employees can always work in the safest conditions. For instance, our employees wear the right Safety Shoes of one of our most important clients <span class="bold"><u><a href="https://www.safetyjogger.com/" target="_blank" rel="noreferrer">Safety Jogger</a></u></span>. </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/people.svg" class="img-fluid" alt="people">
        </div>
        <div class="px-md-5">
          <h3>People</h3>
          <p>We are a fast-growing logistics company with an eye on human relations. As an <span class="bold">equal opportunity employer</span>, we introduce multiple integration programs and offer jobs to people with a distance to the labour market, together with our partner <span class="bold"><u><a href="https://www.aarova.be/over-aarova/missie-visie-waarden/" target="_blank" rel="noreferrer">Aarova</a></u></span>.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/we-forest.svg" class="img-fluid" alt="weforest">
        </div>
        <div class="px-md-5">
          <h3>WeForest</h3>
          <p>It’s our duty to help maintain and regrow the nature we’ve lost in the past. Synogix does this by partnering up with <span class="bold"><u><a href="https://www.weforest.org/partner/cortina" target="_blank" rel="noreferrer">WeForest</a></u></span>, an organization that plants trees.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/environment.svg" class="img-fluid" alt="environment">
        </div>
        <div class="px-md-5">
          <h3>Environment</h3>
          <p>We take various measures to limit the negative footprint of our business and secure the planet for the future. Therefore, our buildings are equipped with 7.400 solar panels that generate up to 2.220 kwp of electricity every day. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 mb-5">Our <span class="blue">management</span></h2>
      </div>
    </div>
    <div class="row">
      {% for people in site.data.management %}
      <div class="col-6 col-md-3 text-center">
        <div class="card border-0">
          <div class="px-2 px-lg-5">
            <img src="{{site.baseurl}}/assets/img/management/{{people.image}}.jpg" alt="{{people.name}}" class="img-fluid rounded-circle">
          </div>
          <div class="card-body">
            <p>{{people.name}}<br><span class="blue"><strong>{{people.function}}</strong></span></p>
            <p><a href="{{people.linkedin}}" rel="external"><i class="fab fa-linkedin fa-lg mx-1"></i></a> <a href="mailto:{{people.email}}" rel="external"><i class="far fa-envelope fa-lg mx-1"></i></a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% include slogan.html %}

{% include carousel.html %}

{% include form.html title="Need more information about our third-party logistics?" %}
