.banner.home {height:calc(100vh - 19px);position:relative;}
.banner.who-we-are {background: #000000 url("../img/header/who-we-are.jpg") no-repeat left top;background-size: cover;}
.banner.forward-and-reverse-logistics {background: #000000 url("../img/header/forward-and-reverse-logistics.jpg") no-repeat left top;background-size: cover;}
.banner.logistics-software {background: #000000 url("../img/header/logistics-software.jpg") no-repeat left top;background-size: cover;}
.banner.omnichannel-fulfilment {background: #000000 url("../img/header/omnichannel-fulfilment.jpg") no-repeat left top;background-size: cover;}
.banner.careers {background: #000000 url("../img/header/careers.jpg") no-repeat left top;background-size: cover;}
.banner.success-stories {background: #000000 url("../img/header/success-stories.jpg") no-repeat left top;background-size: cover;}
.banner.blog {background: #000000 url("../img/header/success-stories.jpg") no-repeat left top;background-size: cover;}
.banner.client-portal {background: #000000 url("../img/header/client-portal.jpg") no-repeat left top;background-size: cover;height:100%;}
.banner.contact-us {background: #000000 url("../img/header/contact-us.jpg") no-repeat left top;background-size: cover;height:100%;}
.banner.download-presentation {background: #000000 url("../img/header/contact-us.jpg") no-repeat left top;background-size: cover;height:100%;}
.banner.pages {background: #000000 url("../img/header/pages.jpg") no-repeat left top;background-size: cover;}

@media only screen and (max-width: 573px){
	.banner.home {height:calc(100vh - 19px);}
  .banner.who-we-are {background: #000000 url("../img/header/who-we-are-xs.jpg") no-repeat left top;background-size: cover;height:100vh;}
	.banner.forward-and-reverse-logistics {background: #000000 url("../img/header/forward-and-reverse-logistics-xs.jpg") no-repeat left top;background-size: cover;height:100vh;}
	.banner.logistics-software {background: #000000 url("../img/header/logistics-software-xs.jpg") no-repeat left top;background-size: cover;height:100vh;}
	.banner.omnichannel-fulfilment {background: #000000 url("../img/header/omnichannel-fulfilment-xs.jpg") no-repeat left top;background-size: cover;height:100vh;}
	.banner.careers {background: #000000 url("../img/header/careers-xs.jpg") no-repeat left top;background-size: cover;height:100vh;}
	.banner.success-stories {background: #000000 url("../img/header/success-stories-xs.jpg") no-repeat left top;background-size: cover;height:35vh;}
	.banner.blog {background: #000000 url("../img/header/success-stories-xs.jpg") no-repeat left top;background-size: cover;height:35vh;}
	.banner.client-portal {background: #000000 url("../img/header/client-portal-xs.jpg") no-repeat left top;background-size: cover;height:100%;}
	.banner.contact-us {background: #000000 url("../img/header/contact-us-xs.jpg") no-repeat left top;background-size: cover;height:100%;}
	.banner.download-presentation {background: #000000 url("../img/header/contact-us-xs.jpg") no-repeat left top;background-size: cover;height:100%;}
	.banner.pages {background: #000000 url("../img/header/pages-xs.jpg") no-repeat left top;background-size: cover;height:35vh;}
}
