---
layout: default
title: Neem contact met ons op
ref: contact-us
description: Meer informatie over onze 3PL solutions? Neem contact op en ontvang een transparante, kosteneffectieve offerte voor uw merk.
keywords: Neem contact op met Synogix, 3PL solutions, 3PL logistiek, verzendbedrijf, supply chain management, logistiek partnerschap, third party logistics, logistiek management, fulfilment service, distributielogistiek
lang: nl
---

{% include top.html title="Meer informatie?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag-card">
        <div class="wrap contact">
          <div class="card card-contact bg-blue white p-4">
            <div class="card-header">
              <img src="{{site.baseurl}}/assets/img/management/sebastien.jpg" alt="sebastien" class="img-fluid rounded-circle border-1 float-left mr-3" style="border:1px solid #1F62AF;width:150px;">
              <h1 class="mb-3 d-inline-block">Neem contact op!</h1>
              <p><span class="d-block d-md-inline">Sébastien Van Houte:</span> <span class="d-block d-md-inline"><i class="fas fa-phone ml-md-3 mr-1"></i> +32 55 33 56 56</span> <span class="d-block d-md-inline"><a href="mailto:sebastien.vanhoute@synogix.com"><i class="far fa-envelope ml-md-3 mr-1"></i> sebastien.vanhoute@synogix.com</a></span></p>
              <p>Wenst u meer informatie over onze 3pl solutions? Ons ervaren team is er om u te helpen. Aarzel niet om ons te contacteren en kom te weten hoe wij een antwoord bieden op uw logistieke uitdagingen. </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-6 mb-3">
                  <p>Vul uw gegevens in en wij:</p>
                  <ul class="fa-ul">
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Nemen wij binnen 24u contact met u op </li>
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Bieden wij een logistieke 3pl solution voor uw merk aan</li>
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Regelen we een afspraak om een transparant voorstel te bespreken </li>
                </div>
                <div class="col-12 col-md-6">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                  hbspt.forms.create({
                	portalId: "7878927",
                	formId: "816dfa30-1cf3-49bb-a776-f78ae5a1aac2"
                });
                </script>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
