---
layout: default
title: Download presentatie
ref: download-presentation
description:
lang: nl
---

<section class="scroll banner {{page.ref}}">

  <div class="container h-100">
    {% include navigation.html %}

    <div class="wrap login">

      <div class="row">
        <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">
          <div class="card card-download bg-blue white">
            <div class="card-body">
              <h3 class="card-title">{{page.title}}</h3>
              <p class="card-text">Bedankt voor je interesse. U kunt onze presentatie downloaden via onderstaande link.</p>
              <p class="card-text"><a href="{{site.baseurl}}/assets/download/synogix-presentation.pdf" target="_blank" class="btn btn-custom btn-active">Download <i class="fas fa-angle-double-right fa-xs ml-3"></i></a></p>
          </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>
