---
layout: default
title: Uw logistieke dienstverlener
ref: home
description: Synogix is uw logistieke dienstverlener, met oplossingen voor forward & reverse logistics, logistieke software en omnichannel fulfilment. Wij bieden kosteneffectief logistiek management voor merken.
keywords: logistieke dienstverlening, logistieke dienstverlener, logistieke oplossingen, 3pl solutions, logistiek management, fashion logistiek, omnichannel distributie, omnichannel fulfilment, supply chain oplossingen, distribution logistics 
lang: nl
---

{% include top.html title="Meer informatie?" %}

{% include navigation.html %}



<header class="banner {{page.ref}}">

  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" >
    <source src="https://www.synogix.com/assets/video/video.mp4" type="video/mp4">
  </video>

  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1 class="mb-3">Uw logistieke dienstverlener </h1>
        <h4 class="d-none d-sm-inline">Synogix neemt uw omnichannel logistiek voor zijn rekening, zodat u zich volledig kan focussen op uw merk en product. Dankzij onze jarenlange ervaring met lifestyle en fashion merken, bieden wij logistieke oplossingen voor al uw internationale verkoopkanalen, aangepast aan uw specifieke noden. Op die manier <strong>helpen wij uw bedrijf groeien, via elk kanaal, elke markt, waar dan ook.</strong></h4>
        <p class="d-sm-none">Synogix neemt uw omnichannel logistiek voor zijn rekening, zodat u zich volledig kan focussen op uw merk en product. Dankzij onze jarenlange ervaring met lifestyle en fashion merken, bieden wij logistieke oplossingen voor al uw internationale verkoopkanalen, aangepast aan uw specifieke noden. Op die manier <strong>helpen wij uw bedrijf groeien, via elk kanaal, elke markt, waar dan ook. </strong></p>
        <div class="buttons mt-2 mt-lg-5">
          <a class="btn btn-custom btn-active btn-md mb-2" href="{{site.baseurl}}/{{page.lang}}/contacteer-ons" role="button">Contacteer ons <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
          <a class="btn btn-custom btn-md ml-2 mb-2" href="#section2" role="button">Meer informatie <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
        </div>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow3.svg" alt="synogix"></a>
</header>

<section id="section2" class="scroll bg-red white section-padding">
  <div class="container">
    <h2 class="text-center h1 mb-5">Wij leveren logistieke oplossingen voor:</h2>
    <div class="brand-section mb-5">
      <div class="brand-wrapper">
        <div class="row">
          <div class="col-md-4 col-sm-12 mb-4">
            <a href="{{site.baseurl}}/{{page.lang}}/oplossingen/forward-en-reverse-logistics" title="forward and reverse logistics">
              <div class="brand" style="background:url('{{site.baseurl}}/assets/img/forward-reverse-logistics.jpg');background-size:cover;">
                <div class="brand-title">
                  Forward & reverse logistics
                </div>
              </div>
            </a>
            <ul class="mt-3 lead list-unstyled">
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Orderfulfilment</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Transportmanagement</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Retourlogistiek</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Value added services</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 mb-4">
            <a href="{{site.baseurl}}/{{page.lang}}/oplossingen/logistieke-software" title="logistics software">
              <div class="brand" style="background:url('{{site.baseurl}}/assets/img/logistics-software.jpg');background-size:cover;">
                <div class="brand-title">
                  Logistieke software
                </div>
              </div>
            </a>
            <ul class="mt-3 lead list-unstyled">
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Klantendienst & KPI-portaal</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Integratiemodules</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Retourportaal</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Smart routing</li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 mb-4">
            <a href="{{site.baseurl}}/{{page.lang}}/oplossingen/omnichannel-fulfilment" title="omnichannel fulfilment">
              <div class="brand" style="background:url('{{site.baseurl}}/assets/img/omnichannel-fulfilment.jpg');background-size:cover;">
                <div class="brand-title">
                  Omnichannel fulfilment
                </div>
              </div>
            </a>
            <ul class="mt-3 lead list-unstyled">
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Retail & wholesale</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> Branded webshops</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i> E-commerce fulfilment</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="#section3" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow2.svg" alt="synogix"></a>
  </div>
</section>


<section id="section3" class="reference text-center">
  <div class="container">
    <h2 class="mb-4">Merken die vertrouwen op onze logistieke dienstverlening</h2>
    <p class="mb-5">Synogix is de logistieke dienstverlener van verschillende internationaal bekende mode-, schoenen-, en lifestylemerken. Dankzij onze jarenlange ervaring in logistiek management weten we exact welke logistieke dienstverlening onze klanten nodig hebben. Zo kunnen wij aan alle noden en wensen van onze klanten voldoen en naadloos hun omnichannel fulfilment boosten.</p>
    <div class="logos text-center">
      <ul class="list-unstyled">
        {% for logo in site.data.references %}
        <li><a href="{{logo.url}}" target="_blank" rel="noreferrer"><img src="{{site.baseurl}}/assets/img/references/{{logo.image}}.svg" class="img-fluid" alt="{{logo.name}}"></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="red-mid-block text-center bg-red">
  <div class="container">
    <h2 class="mb-4">Logistiek management</h2>
    <p class="mb-5">Naast expertise, beschikt Synogix ook over de nodige capaciteit om u de logistieke service te bieden die precies aan uw wensen voldoet.</p>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="icon-image mb-5">
          <img src="{{site.baseurl}}/assets/img/svg/warehouse.svg" class="img-fluid" alt="warehouse">
        </div>
        <div class="icon-detail">
          <span>100.000m²</span> <Br>
          aan magazijn
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="icon-image mb-5">
          <img src="{{site.baseurl}}/assets/img/svg/autostore.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>45.000</span> <Br>bakken <br><a href="https://autostoresystem.com/system/" target="_blank" class="small" rel="noreferrer">autostoresystem.com</a>
        </div>
      </div>
          <div class="col-md-3 col-sm-12">
        <div class="icon-image mb-5">
          <img src="{{site.baseurl}}/assets/img/svg/pieces.svg" class="img-fluid" alt="pieces">
        </div>
        <div class="icon-detail">
         <span>+25.000.000</span> <Br>
          stuks geleverd per jaar
        </div>
      </div>
          <div class="col-md-3 col-sm-12">
        <div class="icon-image mb-5">
          <img src="{{site.baseurl}}/assets/img/svg/history.svg" class="img-fluid" alt="history">
        </div>
        <div class="icon-detail">
         <span>1950</span> <Br>
          onze logistieke dienstverlening staat gelijk aan jarenlange ervaring
        </div>
      </div>
    </div>
  </div>
</section>

<section class="image-content-wrapper py-5 mt-5">
  <div class="container">
    <h2 class="mb-5 text-center">Onze 3PL solutions in een notendop </h2>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-5">
        <div class="image-content-block h-100">
          <div class="top-image text-center">
            <img src="{{site.baseurl}}/assets/img/svg/brands.svg" class="img-fluid" width="105px" alt="focus on brands">
          </div>
          <div class="image-content">
            <h2 class="text-center"><span>Expert in</span> fashion & lifestyle logistiek </h2>
            <p>Dankzij onze eigen merken hebben we een uitgebreide <strong>expertise</strong> opgebouwd in logistieke oplossingen voor schoenen, (sport)kleding en accessoires. En behandelen we andere fashion- en lifestyle merken op dezelfde manier als de onze. </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 mb-5">
        <div class="image-content-block h-100">
          <div class="top-image text-center">
            <img src="{{site.baseurl}}/assets/img/svg/partnerships.svg" class="img-fluid" width="77px" alt="partnerships">
          </div>
          <div class="image-content">
            <h2 class="text-center">Ervaren <span>logistieke partner</span></h2>
            <p>Sinds 1950 is Synogix uitgegroeid tot het <strong>logistiek bedrijf</strong> van de internationale Cortina Group. Met meer dan 70 jaar aan logistieke ervaring weten wij u vooruit te helpen. </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 mb-5">
        <div class="image-content-block h-100">
          <div class="top-image text-center">
            <img src="{{site.baseurl}}/assets/img/svg/multi-channel.svg" class="img-fluid" width="70px" alt="multi-channel">
          </div>
          <div class="image-content">
            <h2 class="text-center"><span>Omnichannel</span> fulfilment</h2>
            <p>Wij ondersteunen uw omnichannel fulfilment door oplossingen aan te bieden die gericht zijn op al uw verkoopkanalen, gaande van groothandel en retail logistiek tot e-commerce en marketplace fulfilment. Als logistieke dienstverlener staan wij paraat, waar u ook verkoopt. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 offset-md-2 col-sm-12 mb-5">
        <div class="image-content-block h-100">
          <div class="top-image text-center">
            <img src="{{site.baseurl}}/assets/img/svg/IT.svg" class="img-fluid" width="77px" alt="it as backbone">
          </div>
          <div class="image-content">
            <h2 class="text-center">Oplossingen <span>op maat</span> </h2>
            <p>Dankzij onze <strong>klantgerichtheid en flexibiliteit</strong> weten we perfect in te spelen op de behoeften van onze klanten en bieden we de juiste 3PL solutions aan.   </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 mb-5">
        <div class="image-content-block h-100">
          <div class="top-image text-center">
            <img src="{{site.baseurl}}/assets/img/svg/cost-efficient.svg" class="img-fluid" width="83px" alt="cost efficient">
          </div>
          <div class="image-content">
            <h2 class="text-center"><span>Kostenefficiënt</span> logistiek management</h2>
            <p>Dankzij onze operationele kennis, onze technologie en onze state-of-art infrastructuur bieden wij <strong>kostenefficiënte supply chain oplossingen</strong>, zonder in te boeten op kwaliteit.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% include slogan.html %}

{% include carousel.html %}

{% include form.html title="Wenst u meer informatie over onze 3PL solutions? " %}
