---
layout: default
title: Kom bij ons logistiek team
ref: careers
description: Op zoek naar een logistieke job? Start bij logistiek dienstverlener Synogix, waar we de logistiek voor merken verbeteren. Laat uw succesverhaal hier beginnen.
keywords: Synogix jobs, logistieke jobs, logistieke vactarures, magazijn jobs, jobs bij logistiek bedrijf, logistiek team, logistiek partner
lang: nl
---

{% include top.html title="Meer informatie?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>Op zoek naar een logistieke job? Vervolledig ons team!</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>


<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3"><span class="blue">Werken</span> bij Synogix</h2>
        <h5><strong>Ben je op zoek naar een job bij een logistiek bedrijf?</strong></h5>
        <p>Synogix zijn succes is afhankelijk van zijn medewerkers. Samen vormen we een fantastisch team dat er alles aan doet om klanten te helpen groeien.</p>
        <p>Wij geloven steevast in het aanmoedigen van getalenteerde individuen. Op die manier helpen we hun talenten en vaardigheden verder te ontwikkelen en leren we om hun sterke punten te benutten. </p>
        <p>Wij groeien niet alleen als bedrijf, maar jij groeit met ons mee. Onze diverse logistieke dienstverlening en interne doorgroeimogelijkheden bieden je bovendien extra perspectieven. </p>
        <p>Klaar voor een uitdagende logistieke job? <strong>Wij verwelkomen je graag bij Synogix.</strong> </p>
        <p>Bekijk hieronder onze <strong>openstaande logistieke vacatures</strong>. Kon je geen uitdaging vinden die bij je past, maar ben je toch enthousiast om deel uit te maken van ons team? Wij ontvangen graag jouw <strong>spontane sollicitatie</strong>. </p>
        <p><strong>We horen graag van jou!</strong></p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-10 offset-md-1">
        <div class="text text-center ">
        <p>Het enthousiasme van ons team motiveert me om voor elke zending tot het uiterste te gaan.<br /><i class="small">Nick, Magazijnmanager</i> </p>
      </div>
      </div>
    </div>

  </div>
</section>



<section class="mt-5 py-5 bg-red white">
  <div class="container py-lg-5">
    <div class="row">
      <div class="col mb-4">
        <h2 class="h1 mb-3">Spontane sollicitatie </h2>
        <p>Ben je ervan overtuigd dat je kan bijdragen aan het succes van ons logistiek bedrijf? Aarzel niet om ons een spontane sollicitatie te sturen met je CV en motivatie naar <a href="mailto:hr@synogix.com"><u>hr@synogix.com</u></a>. Wij nemen zo snel mogelijk contact met je op!</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3">Vacatures</h2>
        <p>Bekijk regelmatig onze openstaande jobaanbiedingen. Wij zullen binnenkort logistieke vacatures publiceren.  </p>
      </div>
    </div>
  </div>
</section>

{% include carousel.html %}

{% include form.html title="Wenst u meer informatie over onze 3pl solutions?" %}
