---
layout: default
title: Logistiek bedrijf
ref: who-we-are
description: Synogix blinkt uit in transparante third party logistics en biedt verschillende kosteneffectieve logistieke oplossingen. Logistiek bedrijf met warehouse management in Europa en Azië.
keywords: Logistiek bedrijf, third party logistics, warehouse management, warehousing oplossingen, supply chain management, bonded warehousing, logistiek Europa, logistiek Azië
lang: nl
---

{% include top.html title="Meer informatie?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>Een logistiek bedrijf met ervaring </h1>
        <div class="buttons mt-5">
          <a class="btn btn-custom btn-active btn-md mb-2" href="{{site.baseurl}}/{{page.lang}}/contacteer-ons" role="button">Contacteer ons <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
          <a class="btn btn-custom btn-md ml-2 mb-2" href="#section2" role="button">Meer informatie <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
        </div>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>


<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-6 mb-3">
        <h2 class="h1 mb-3">Wat wij doen als <span class="blue">logistiek bedrijf</span></h2>
        <p>Synogix blinkt uit in <strong>transparante & omnichannel third party logistics</strong> voor merken. Dankzij meer dan 70 jaar ervaring bieden wij logistieke diensten aan die niet alleen <strong>kosteneffectief</strong> zijn, maar ook ontworpen zijn <strong>op maat van onze klanten</strong>. Op die manier kan u zich als klant volledig focussen op uw merk en product. </p>
        <p>Als ervaren logistiek bedrijf zorgen wij voor een <strong>snel en soepel supply chain management</strong>. <strong>Datagedreven inzichten</strong> stellen ons in staat om efficiënte beslissingen te nemen. Bovendien werken we steeds nauw samen met onze klanten door te kijken naar hun specifieke wensen en noden. Zo komen we <strong>samen tot de beste logistieke oplossing.</strong> </p>
        <p>Met onze transparante logistieke dienstverlening en financiële gezondheid als basis, onze technologie als gereedschap en onze samenwerking als drijvende kracht vult Synogix alle logistieke noden van merken in, zodat zij kunnen groeien.</p>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <img src="{{site.baseurl}}/assets/img/what-we-do.jpg" alt="what we do" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="bg-red white section-padding">
  <div class="container ">
    <div class="row text-center mb-4">
      <div class="col">
        <h2 class="h1 mb-4">Professioneel magazijnbeheer in <strong>2 wereldwijde logistieke hotspots</strong> </h2>
          <p class="mb-5">Onze <strong>fulfilmentcentra</strong> zijn centraal gelegen in <strong>België</strong> – het hart van Europa – en <strong>China</strong> – het hart van Azië. Vanuit deze logistieke hotspots geven wij uw bedrijf een boost met onze kosteneffectieve en efficiënte third party logistics. Onze oplossingen voor <strong>magazijnbeheer</strong> worden ondersteund door de juiste mix van state-of-the-art <strong>managementsystemen, automatisering, robotisering en getting things done.</strong> </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6">
        <h3 class="mb-1 h2">Europa</h3>
        <p>3 vestigingen</p>
      </div>
      <div class="col-6">
        <h3 class="mb-1 h2">Azië</h3>
        <p>2 vestigingen</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <img src="{{site.baseurl}}/assets/img/locations-worldmap.png" class="img-fluid mb-4">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/warehouses.svg" class="img-fluid" alt="warehouse">
        </div>
        <div class="icon-detail">
          <span>100K</span> M<sup>2</sup><br>aan magazijn
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/packages.svg" class="img-fluid" alt="packages">
        </div>
        <div class="icon-detail">
          <span>1.5m</span><br>pakketten/jaar
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/employees.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>125</span><br>werknemers
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/bag.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>+25m</span><br>stuks/jaar
        </div>
      </div>
    </div>

    <div class="row text-center mt-5 pt-4">
      <div class="col">
        <div class="card card-red">
          <div class="card-body">
            <h2 class="mb-4">Een greep uit onze magazijnoplossingen:</h2>
            <ul class="list-unstyled lead">
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Ontwerp en ontwikkeling van magazijnen</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Optimalisatie van magazijnprocessen</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Bonded warehousing, opslag van goederen en beheer op maat </li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Value added services</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Orderverwerking, order picking en orderfulfilment</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Voorraad en voorraadbeheer</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Retourmanagement </li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Cross-dock operaties </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 pt-5 pb-3">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-5 mb-4">
        <img src="{{site.baseurl}}/assets/img/history-cortina.jpg" alt="what we do" class="img-fluid">
      </div>
      <div class="col-12 col-md-7 text-left text-md-right my-md-auto">
        <h2 class="h1 mb-3">Onze <span class="blue">geschiedenis</span></h2>
        <p>Synogix werd opgericht in <strong>1950</strong> en is uitgegroeid tot het logistiek bedrijf van verschillende huismerken van de <strong>Cortina groep</strong>. Cortina startte als een kleine schoenenfabriek en ontplooide zich inmiddels tot een van de grootste schoenenfabrikanten ter wereld.</p>
        <p>Doorheen de jaren ontwikkelden we een uitgebreide kennis van logistiek en magazijnbeheer en een state-of-the-art infrastructuur. Net daarom beslisten we begin 2020 om onze logistieke diensten aan te bieden aan sterke externe merken die behoefte hebben aan betrouwbare, kosteneffectieve en omnichannel third-party logistics. <strong>Synogix werd geboren</strong>. </p>
      </div>
    </div>
  </div>
</section>

{% include timeline.html %}

<section class="bg-red white section-padding">
  <div class="container ">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="h1 mb-4">Onze <strong>verantwoordelijkheid</strong></h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/health-safety.svg" class="img-fluid" alt="health and safety">
        </div>
        <div class="px-md-5">
          <h3>Gezondheid en veiligheid</h3>
          <p>Wij verstrekken onze medewerkers de juiste hulpmiddelen en opleiding, zodat ze altijd in de veiligste omstandigheden kunnen werken. Zo dragen onze medewerkers veiligheidsschoenen van een van onze belangrijkste klanten: <strong><u><a href="https://www.safetyjogger.com/" target="_blank" rel="noreferrer">Safety Jogger</a></u></strong>.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/people.svg" class="img-fluid" alt="people">
        </div>
        <div class="px-md-5">
          <h3>Mensen</h3>
          <p>Wij zijn een snelgroeiend logistiek bedrijf met oog voor de menselijke relaties. We zijn een gelijkekansenwerkgever met meerdere integratieprogramma's en bieden samen met onze partner <strong><u><a href="https://www.aarova.be/over-aarova/missie-visie-waarden/" target="_blank" rel="noreferrer">Aarova</a></u></strong> banen aan voor mensen met een afstand tot de arbeidsmarkt.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/we-forest.svg" class="img-fluid" alt="weforest">
        </div>
        <div class="px-md-5">
          <h3>WeForest</h3>
          <p>We zien het als onze plicht om de natuur te behouden en te laten groeien. We werken hiervoor samen met <strong><u><a href="https://www.weforest.org/partner/cortina" target="_blank" rel="noreferrer">WeForest</a></u></strong>, een organisatie die bomen plant. </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/environment.svg" class="img-fluid" alt="environment">
        </div>
        <div class="px-md-5">
          <h3>Milieu</h3>
          <p>Wij nemen verschillende maatregelen om onze ecologische voetafdruk te beperken en zo onze planeet veilig te stellen voor de toekomst. Zo zijn onze gebouwen uitgerust met 7.400 zonnepanelen die dagelijks tot 2.220 kwp elektriciteit opwekken. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 mb-5">Ons <span class="blue">management</span></h2>
      </div>
    </div>
    <div class="row">
      {% for people in site.data.management %}
      <div class="col-12 col-md-3 text-center">
        <div class="card border-0">
          <div class="px-5">
            <img src="{{site.baseurl}}/assets/img/management/{{people.image}}.jpg" alt="{{people.name}}" class="img-fluid rounded-circle border-1" style="border:1px solid #1F62AF;">
          </div>
          <div class="card-body">
            <p>{{people.name}}<br><span class="blue"><strong>{{people.function}}</strong></span></p>
            <p><a href="{{people.linkedin}}" rel="external"><i class="fab fa-linkedin fa-lg mx-1"></i></a> <a href="mailto:{{people.email}}" rel="external"><i class="far fa-envelope fa-lg mx-1"></i></a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% include slogan.html %}

{% include carousel.html %}

{% include form.html title="Meer informatie?" %}
