---
layout: default
title: Succesverhalen als logistieke partner
ref: success-stories
description: Wij zijn de logistieke partner van verschillende erkende merken. Met succesverhalen in logistieke ordervolumes en order picking system Autostore.
keywords: logistiek partner, supply chain solutions, autostore, order picking, order picking system, orderverzamelsysteem, voorraadbeheer, logistiek bedrijf, logistieke oplossingen
lang: nl
---

{% include top.html title="Meer informatie?" %}

{% include navigation.html %}

<header class="banner narrow {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>Succesverhalen als logistieke partner</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>


<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cm56z5PfcnE" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="h1 mb-3"><img src="{{site.baseurl}}/assets/img/references/trixie.svg"></h2>
            <h5 class="blue"><img src="{{site.baseurl}}/assets/img/references/industry.svg"><span class="align-bottom ml-2">Industrie</span></h5>
            <p class="lead">Trixie is een Belgisch merk, gespecialiseerd in het maken van duurzame baby- en kinderproducten. </p>
            <p><a href="https://www.trixie-baby.com/" target="_blank">www.trixie-baby.com</a></p>
            <span class="border-bottom d-block w-100 mb-3"></span>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="blue"><img src="{{site.baseurl}}/assets/img/references/challenge.svg"><span class="align-bottom ml-2">Uitdaging</span></h5>
            <p>Trixie verwierf de afgelopen jaren een mooie positie binnen haar markt, met een groeipercentage van 20-30% als resultaat. Maar dat leidde op zijn beurt ook tot een aantal logistieke groeipijnen, zoals capaciteitsuitdagingen en logistieke flows die wat stroever liepen. </p>
            <p>Omdat het klantenportfolio van Trixie uit een mix van particuliere klanten, grotere ketens en onlinespelers bestaat, zochten ze een externe logistieke partner die zowel de B2B als B2C distributie kon opvangen. En die kon voldoen aan de logistieke vereisten van enkele grotere B2B klanten. </p>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/solution.svg"><span class="align-bottom ml-2">Logistieke oplossing</span></h5>
            <h6><strong>Omnichannel fulfilment</strong></h6>
            <p>Dankzij onze jarenlange ervaring in omnichannel fulfilment kunnen wij allerlei soorten eindklanten bedienen vanuit hetzelfde magazijn. En kunnen wij zowel grote B2B orders als kleinere webshoporders op een kostenefficiënte en operationeel gestroomlijnde manier verwerken. Door zowel de inbound als outbound logistiek van Trixie te verzorgen, slaagden we er dan ook in om weer rust binnen de organisatie te brengen.</p>
            <p>Daarnaast zorgen we ervoor dat Trixie zich weer volledig kan richten op haar kernactiviteiten. Door alle logistieke processen uit handen te nemen. Denk maar aan het opvangen van piek- en dalmomenten, het bieden van extra opslagruimte en het opvangen van de nood aan een betere (IT)-structuur. Op die manier laten we Trixie toe om schaalbaar te zijn en nog verder te groeien.  </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="section2" class="py-5 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3">Wij zijn de logistieke partner van verschillende gerenommeerde merken</h2>
        <p>Veel bekende kleding-, schoenen- en sportmerken vertrouwen op Synogix als hun logistieke partner. Elle klant heeft zijn specifieke uitdagingen en noden. Synogix is uiterst flexibel in het zoeken naar de beste supply chain solution voor elke klant. </p>
        <p>Ontdek hieronder de verschillende uitdagingen van onze klanten en hoe wij deze als logistieke partner samen met hen hebben aangepakt. </p>
        <div class="logos py-5">
          <ul class="list-unstyled">
            {% for logo in site.data.references %}
            <li><a href="{{logo.url}}" target="_blank" rel="noreferrer"><img src="{{site.baseurl}}/assets/img/references/{{logo.image}}.svg" class="img-fluid" alt="{{logo.name}}"></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-red white">
  <div class="container py-lg-5">
    <div class="row">
      <div class="col-12 col-xl-4 mb-4">
        <h2 class="h1 mb-5">Patrick</h2>

        <div class="card black p-4">
          <div class="card-body">
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/industry.svg"><span class="align-bottom ml-2">Industrie</span></h5>
            <p class="card-text">Patrick is gespecialiseerd in teamkleding voor sportverenigingen. </p>

            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/challenge.svg"><span class="align-bottom ml-2">Challenge</span></h5>
            <p class="card-text">Patrick is het schoolvoorbeeld van piekleveringen. 70% van het totale bestelvolume moet binnen een termijn van drie maanden aan de clubs geleverd worden, net voor de start van een nieuw seizoen. </p>
            <p class="card-text">Bovendien heeft Patrick ook een uitzonderlijk bestelprofiel. De clubs bestellen namelijk specifieke artikelen per individuele speler die vervolgens gepersonaliseerd moeten worden. </p>

            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/solution.svg"><span class="align-bottom ml-2">Logistieke oplossing</span></h5>
            <p class="card-text">Als vertrouwd logistiek partner van Patrick hebben we hen geholpen om deze uitdagingen tot een goed einde te brengen. Dit deden we door te investeren in een revolutionair goods-to-man orderpicksysteem: AutoStore. </p>
            <p class="card-text">Met behulp van Autostore worden de producten opgeslagen in 44.000 uiterst compact gestapelde bakken in een gerobotiseerd systeem. Dat maakt de opslag en orderpicking voor Patrick foutloos, snel, stofvrij, diefstalproof en duurzaam. </p>
            <p class="card-text"><a href="https://www.patrick.eu/" target="_blank">www.patrick.eu</a></p>
          </div>
        </div>


      </div>
      <div class="col-12 col-xl-8 mb-4">
        <p><img src="{{site.baseurl}}/assets/img/references/patrick-image.jpg" alt="patrick" class="img-fluid"></p>
      </div>
    </div>
  </div>
</section>

{% include carousel.html %}

{% include form.html title="Wenst u meer informatie over onze supply chain solutions?" %}
