---
layout: default
title: Actualités & blog
ref: blog
description: Vous êtes curieux de connaître nos informations logistiques et nos cas intéressants? Vous découvrirez cela ici!
keywords:
lang: fr
---

{% include top.html title="En savoir plus ?" %}

{% include navigation.html %}

<header class="banner narrow {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1 class="mb-2">{{page.title}}</h1>
        <p class="lead">Vous êtes curieux de connaître nos informations logistiques et nos cas intéressants? Vous découvrirez cela ici! </p>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>

<section id="section2" class="my-lg-4 py-5">
  <div class="container">
    <div class="row">
        {% assign posts = site.posts | where: "lang", "fr" %}
        {% for post in posts limit:4 %}
        {% assign postDate = post.date | date: "%b %d, %Y" %}
        <div class="col-12 col-lg-8 offset-lg-2 blog-item border-bottom">
        <article class="mb-4 pb-5 pt-5">
          <div class="media">
            {% if post.thumb %}
            <a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}"><img src="{{site.baseurl}}/assets/img/blog/{{post.thumb}}" class="img-thumbnail mr-3 mb-3" alt="{{post.title}}"></a>
            {% endif %}
            <div class="media-body">
              <h6 class="mb-2 text-muted">{{postDate}}</h6>
              <h2><a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}">{{ post.title }}</a></h2>
              {{ post.excerpt }}
              <p><span class="fas fa-angle-double-right fa-xs blue"></span> <a href="{{site.baseurl}}{{post.url}}">{{ site.data.translate.t['read_more'][page.lang] }}</a><br /></p>
            </div>
          </div>
        </article>

        </div>
        {% endfor %}
    </div>
  </div>
</section>

{% include form.html title="Besoin de plus d'informations sur nos solutions 3pl ?" %}
