---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXPD8LS"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  {% include modal.html %}

  {{content}}


  {% include footer.html %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/assets/js/vendor/popper.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery-1.11.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="{{site.baseurl}}/assets/js/bootstrap-extension.min.js"></script>

  <!-- Browser webp check -->
  <script src="{{site.baseurl}}/assets/js/vendor/modernizr-custom.js"></script>

 <!-- Custom scripts Menu -->
  <script src="{{site.baseurl}}/assets/js/menufullpage.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/equalheight.js"></script>
  <script src="{{site.baseurl}}/assets/js/scripts.js"></script>


</body>
</html>
