---
layout: default
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

<header class="banner narrow pages">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>

<section id="section2" class="pages-content my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        {{content}}
      </div>
    <div>
  </div>
</section>
