---
layout: master
---

{% include top.html title="Need more information?" %}

{% include navigation.html %}

{% assign postDate = page.date | date: "%b %d, %Y" %}

<header class="banner narrow blog">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1 class="mb-3">{{page.title}}</h1>
        <h6 class="text-center">{{postDate}}</h6>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>


<section class="my-5 py-5 border-bottom blog-item">
 <div class="container">
   <div class="row">
     <div class="col-md-8 offset-md-2">
       <article class="pb-4 mb-3">{{content | remove_first:page.excerpt}}</article>
       <!--
       <h5>{{ site.data.translate.t['also_read'][page.lang] }}</h5>
       <p>
       {% assign posts = site.posts | where: "lang", "nl" %}
       {% for post in posts limit:3 %}
         {% if post.url != page.url %}
           {% if forloop.index < 3 or found %}
             <span class="fas fa-angle-double-right fa-xs blue"></span> <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a><br />
           {% endif %}
         {% else %}
           {% assign found = true %}
         {% endif %}
       {% endfor %}
       </p>
       -->
     </div>
   </div>
 </div>
</section>
