---
layout: default
title: Entreprise de logistique
ref: who-we-are
description: Synogix excelle dans la logistique transparente de tiers, offrant différentes solutions logistiques rentables. Entreprise de logistique avec gestion d'entrepôt en Europe et en Asie.
keywords: entreprise de logistique, logistique tierce partie, gestion d'entrepôt, solutions d'entreposage, gestion de la chaîne d'approvisionnement, entrepôt sous douane, logistique Europe, logistique Asie
lang: fr
---

{% include top.html title="En savoir plus ?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>Une entreprise de logistique avec une expérience approfondie</h1>
        <div class="buttons mt-5">
          <a class="btn btn-custom btn-active btn-md mb-2" href="{{site.baseurl}}/{{page.lang}}/contactez-nous" role="button">Contactez-nous <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
          <a class="btn btn-custom btn-md ml-2 mb-2" href="#section2" role="button">En savoir plus <i class="fas fa-angle-double-right fa-xs ml-3 fa-xs ml-3"></i></a>
        </div>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>

<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-6 mb-3">
        <h2 class="h1 mb-3"><span class="blue">Nos activités</span> en tant qu'entreprise de logistique</h2>
        <p>Synogix excelle dans la <strong>logistique tierce transparente et omnicanale pour les marques</strong>. Avec plus de 70 ans d'expérience, nous proposons des <strong>services logistiques sur mesure et économiques</strong> afin de vous permettre de vous concentrer pleinement sur votre marque et votre produit. </p>

        <p>En tant que votre entreprise de logistique de confiance, nous assurons une gestion de la chaîne d'approvisionnement extrêmement fluide et rapide. Les informations basées sur les données nous permettent de prendre des décisions efficaces et d'améliorer continuellement toutes les opérations. De plus, nous travaillons toujours en étroite collaboration avec nos clients et examinons leurs souhaits et besoins spécifiques pour décider ensemble de la solution logistique la plus appropriée. </p>

        <p>Avec nos services logistiques transparents et notre santé financière à la base, la technologie comme outil et la collaboration comme force motrice, Synogix satisfait et dépasse les besoins logistiques des marques et les aide à se développer, quel que soit le canal, le marché et le lieu.</p>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <img src="{{site.baseurl}}/assets/img/what-we-do.jpg" alt="what we do" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="bg-red white section-padding">
  <div class="container ">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="h1">Gestion d'entrepôt professionnelle dans <strong>2 hotspots logistiques mondiaux</strong></h2>
        <p>Nos <strong>centres de distribution</strong> ont un emplacement central en <strong>Belgique</strong> , au cœur de l'Europe, et en <strong>Chine</strong , au cœur de l'Asie. À partir de ces points névralgiques logistiques, nous sommes prêts à dynamiser votre entreprise grâce à notre logistique tierce efficace et rentable. En offrant <strong>des solutions d'entreposage</strong> soutenues par <strong>des systèmes de gestion d'entrepôt</strong> de pointe et <strong>la bonne combinaison d'automatisation, de robotisation et de réalisation des tâches.</strong></p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6">
        <h3 class="mb-1 h2">Europe</h3>
        <p>3 sites d'entreposage</p>
      </div>
      <div class="col-6">
        <h3 class="mb-1 h2">Asie</h3>
        <p>2 sites d'entreposage</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <img src="{{site.baseurl}}/assets/img/locations-worldmap.png" class="img-fluid mb-4">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/warehouses.svg" class="img-fluid" alt="warehouse">
        </div>
        <div class="icon-detail">
          entrepôt de <br><span>100K</span> M<sup>2</sup>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/packages.svg" class="img-fluid" alt="packages">
        </div>
        <div class="icon-detail">
          <span>1.5m</span><br>de collis/an
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/employees.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>125</span><br>employés
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/bag.svg" class="img-fluid" alt="autostore">
        </div>
        <div class="icon-detail">
          <span>+25m</span><br>pièces/an
        </div>
      </div>
    </div>
    <div class="row text-center mt-5 pt-4">
      <div class="col">
        <div class="card card-red">
          <div class="card-body">
            <h2 class="mb-4">Quelques-unes de nos solutions de stockage : </h2>
            <ul class="list-unstyled lead">
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Conception et développement d'entrepôts</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Optimisation des processus d'entrepôt</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Entreposage sous douane, stockage des marchandises et gestion des douanes </li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Services à valeur ajoutée</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Inventaire et gestion des stocks</li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Traitement, préparation et exécution des commandes </li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Gestion des retours </li>
              <li><i class="fas fa-angle-double-right mr-2 fa-xs"></i>Opérations de transbordement</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 pt-5 pb-3">
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-5 mb-4">
        <img src="{{site.baseurl}}/assets/img/history-cortina.jpg" alt="what we do" class="img-fluid">
      </div>
      <div class="col-12 col-md-7 text-left text-md-right my-md-auto">
        <h2 class="h1 mb-3">Notre <span class="blue">histoire</span></h2>
        <p>Depuis <span class="bold">1950</span>, Synogix s'est développée en tant que partenaire logistique de plusieurs marques internes au sein du groupe Cortina. Cortina a commencé comme une petite usine de chaussures et est devenue l'un des plus grands fabricants de chaussures au monde. </p>
        <p>Au fil des ans, nous avons développé une infrastructure de pointe et une connaissance approfondie de la logistique.  C'est pourquoi nous avons décidé, début 2020, de proposer nos excellents services à d'autres marques fortes qui ont besoin d'une logistique fiable et multicanale : <br><span class="bold">C'est ainsi que Synogix a vu le jour.</span></p>
      </div>
    </div>
  </div>
</section>

{% include timeline.html %}

<section class="bg-red white section-padding">
  <div class="container ">
    <div class="row text-center mb-5">
      <div class="col">
        <h2 class="h1 mb-4">Notre <strong>responsabilité</strong></h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/health-safety.svg" class="img-fluid" alt="health and safety">
        </div>
        <div class="px-md-5">
          <h3>Santé et sécurité</h3>
          <p> Nous nous efforçons <span class="bold">en priorité</span> de fournir les outils et la formation appropriés à nos collaborateurs afin qu'ils puissent travailler dans les conditions les plus sûres. Nos travailleurs portent par exemple les chaussures de sécurité d'un de nos plus importants clients, <span class="bold"><u><a href="https://www.safetyjogger.com/" target="_blank" rel="noreferrer">Safety Jogger</a></u></span>. </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/people.svg" class="img-fluid" alt="people">
        </div>
        <div class="px-md-5">
          <h3>Priorité à l'humain</h3>
          <p>Nous sommes une entreprise en pleine croissance qui a le souci des relations humaines. En tant qu'employeur souscrivant au principe de <span class="bold">l'égalité des chances</span>, nous mettons en place de multiples programmes d'intégration et proposons des emplois aux personnes qui rencontrent des difficultés sur le marché du travail, en collaboration avec notre partenaire <span class="bold"><u><a href="https://www.aarova.be/over-aarova/missie-visie-waarden/" target="_blank" rel="noreferrer">Aarova</a></u></span>.</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/we-forest.svg" class="img-fluid" alt="weforest">
        </div>
        <div class="px-md-5">
          <h3>WeForest</h3>
          <p>Il est de notre devoir d'aider à protéger et restaurer la nature que nous avons perdue par le passé.  Pour ce faire, Synogix s'associe à WeForest et plante des arbres. <span class="bold"><u><a href="https://www.weforest.org/partner/cortina" target="_blank" rel="noreferrer">WeForest</a></u></span> </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-5">
        <div class="icon-image mb-3">
          <img src="{{site.baseurl}}/assets/img/svg/environment.svg" class="img-fluid" alt="environment">
        </div>
        <div class="px-md-5">
          <h3>Environnement</h3>
          <p>Nous prenons diverses mesures pour limiter l'empreinte négative de nos activités et assurer l'avenir de la planète. Nos bâtiments sont donc équipés de 7.400 panneaux solaires qui produisent jusqu'à 2.220 kWc d'électricité par jour. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="h1 mb-5">Notre <span class="blue">management</span></h2>
      </div>
    </div>
    <div class="row">
      {% for people in site.data.management %}
      <div class="col-12 col-md-3 text-center">
        <div class="card border-0">
          <div class="px-5">
            <img src="{{site.baseurl}}/assets/img/management/{{people.image}}.jpg" alt="{{people.name}}" class="img-fluid rounded-circle border-1" style="border:1px solid #1F62AF;">
          </div>
          <div class="card-body">
            <p>{{people.name}}<br><span class="blue"><strong>{{people.function}}</strong></span></p>
            <p><a href="{{people.linkedin}}" rel="external"><i class="fab fa-linkedin fa-lg mx-1"></i></a> <a href="mailto:{{people.email}}" rel="external"><i class="far fa-envelope fa-lg mx-1"></i></a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% include slogan.html %}

{% include carousel.html %}

{% include form.html title="Vous souhaitez de plus amples informations ?" %}
