---
layout: default
title: Contactez-nous
ref: contact-us
description: Plus d'informations sur nos solutions 3PL ? Contactez-nous afin d'obtenir une offre transparente et rentable pour votre marque.
keywords: Contact Synogix, solutions 3PL, logistique 3PL, compagnie maritime, gestion de la chaîne d'approvisionnement, partenariat logistique, logistique tierce partie, gestion logistique, service d'exécution, logistique de distribution
lang: fr
---

{% include top.html title="En savoir plus ?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag-card">
        <div class="wrap contact">
          <div class="card card-contact bg-blue white p-4">
            <div class="card-header">
              <img src="{{site.baseurl}}/assets/img/management/sebastien.jpg" alt="sebastien" class="img-fluid rounded-circle border-1 float-left mr-3" style="border:1px solid #1F62AF;width:150px;">
              <h1 class="mb-3 d-inline-block">Contactez-nous !</h1>
              <p><span class="d-block d-md-inline">Sébastien Van Houte:</span> <span class="d-block d-md-inline"><i class="fas fa-phone ml-md-3 mr-1"></i> +32 55 33 56 56</span> <span class="d-block d-md-inline"><a href="mailto:sebastien.vanhoute@synogix.com"><i class="far fa-envelope ml-md-3 mr-1"></i> sebastien.vanhoute@synogix.com</a></span></p>
              <p>Vous souhaitez avoir plus d'informations sur nos solutions 3PL ? Notre équipe dévouée et expérimentée est à votre service ! Connectons-nous et voyons comment nous pouvons apporter la réponse à vos défis logistiques. </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-6 mb-3">
                  <p>Après avoir renseigné vos coordonnées, nous allons :</p>
                  <ul class="fa-ul">
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Revenir vers vous dans les 24h</li>
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Proposer une solution logistique 3PL pour votre marque</li>
                    <li class="h4"><span class="fa-li"><i class="fas fa-check-square"></i></span>Organiser une réunion pour discuter d'une offre transparente</li>
                </div>
                <div class="col-12 col-md-6">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                  hbspt.forms.create({
                	portalId: "7878927",
                	formId: "886b58a7-6cb5-46d9-a1c1-f3b5b49943a5"
                });
                </script>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
