---
layout: default
title: Rejoignez notre équipe logistique
ref: careers
description: A la recherche d'un emploi en logistique ? Rejoignez le partenaire logistique Synogix, où nous améliorons la logistique des marques. Que votre histoire à succès commence ici.
keywords: emplois Synogix, emplois logistiques, emplois en entrepôt, emplois dans une entreprise de logistique, équipe logistique, partenaire logistique
lang: fr
---

{% include top.html title="En savoir plus ?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>A la recherche d'un emploi en logistique ? Rejoignez notre équipe !</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>


<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3"><span class="blue">Travailler</span> chez Synogix</h2>
        <p><strong>Vous êtes à la recherche d'un emploi dans une entreprise de logistique ?</strong></p>
        <p>SYNOGIX est une grande réussite écrite par nos employés. Ensemble, nous sommes une équipe fantastique qui fait de son mieux chaque jour pour aider nos clients à grandir. </p>
        <p>Nous sommes convaincus qu'il faut encourager les personnes talentueuses afin de les aider à développer leurs talents et leurs compétences et à tirer parti de leurs forces. Au fur et à mesure que nous grandissons en tant qu'entreprise, vous pouvez grandir avec nous. La diversité de nos services et les opportunités de carrière en interne vous offrent des perspectives supplémentaires.</p>
        <p>Si vous êtes prêt à nous donner le meilleur de vous-même, nous sommes heureux de vous accueillir chez SYNOGIX. <strong>Que votre histoire à succès commence ici !</strong></p>
        <p>Consultez nos offres d'<strong>emploi en logistique</strong> ci-dessous. Si votre nouveau défi n'est pas répertorié, n'hésitez pas à nous envoyer une <strong>candidature spontanée</strong>.</p>
        <p><strong>Nous avons hâte de vous lire !</strong></p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-10 offset-md-1">
        <div class="text text-center ">
        <p>L'enthousiasme de notre équipe est motivant et me pousse à aller au maximum pour chaque expédition. <br /><i class="small">Nick, Gestionnaire d'entrepôts </i> </p>
      </div>
      </div>
    </div>

  </div>
</section>



<section class="mt-5 py-5 bg-red white">
  <div class="container py-lg-5">
    <div class="row">
      <div class="col mb-4">
        <h2 class="h1 mb-3">Candidature spontanée</h2>
        <p>Êtes-vous convaincu de pouvoir offrir une valeur ajoutée à notre entreprise de logistique ? Alors n'hésitez plus et postulez spontanément. Envoyez simplement votre CV et votre lettre de motivation à <a href="mailto:hr@synogix.com"><u>hr@synogix.com</u></a> et nous vous contacterons dans les plus brefs délais !</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3">Offres d'emploi en logistique</h2>
        <p>Revenez régulièrement, car nous publierons prochainement les offres d'emploi en logistique !</p>
      </div>
    </div>
  </div>
</section>

{% include carousel.html %}

{% include form.html title="Besoin de plus d'informations sur nos services 3pl ?" %}
