---
layout: default
title: Portail client
ref: client-portal
description: Portail client de Synogix, avec accès à de nombreuses informations sur les entrepôts et les transporteurs. Gérez votre logistique grâce à notre logiciel cloud.
keywords: portail client Synogix, informations sur les entrepôts, informations sur les transporteurs, logistique, logiciel cloud, logiciel logistique
lang: fr
---

{% include top.html title="En savoir plus ?" %}

{% include navigation.html %}

<header class="banner {{page.ref}}">
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag-card">

        <div class="wrap login">

          <div class="row">
            <div class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4">

              <h1 class="text-center white text-shadow mb-3">Portail client</h1>
              <div class="card card-login bg-blue white">
                <div class="card-header text-center">
                  <h3 class="text-center">Connexion</h3>
                </div>
                <div class="card-body">
                  <form novalidate="" class="ng-dirty ng-touched ng-valid">
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-valid ng-touched" formcontrolname="email" id="email" required="" type="email" placeholder="E-mail *">
                    </div>
                    <div class="form-group">
                      <input class="form-control ng-dirty ng-valid ng-touched" formcontrolname="password" id="password" required="" type="password" placeholder="Mot de passe *">
                    </div>
                    <div class="form-group form-check"><input class="form-check-input ng-untouched ng-pristine ng-valid" formcontrolname="rememberMe" id="rememberMe" name="rememberMe" type="checkbox">
                      <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                      <a class="float-right" href="/en/forgot-password">Mot de passe oublié?</a>
                    </div>
                  <button class="btn btn-custom btn-active" type="submit"><span>Se connecter</span> <i class="fas fa-angle-double-right fa-xs ml-3"></i></button>
                </form>
              </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>
