---
layout: default
title: Histoires de réussite
ref: success-stories
description: Nous sommes le partenaire logistique de plusieurs marques reconnues. Avec des histoires à succès dans les volumes de commandes logistiques et le système de préparation de commandes Autostore.
keywords: partenaire logistique, solutions de chaîne d'approvisionnement, magasin automatique, préparation de commandes, système de préparation de commandes, gestion des stocks, entreprise de logistique, solutions logistiques
lang: fr
---

{% include top.html title="En savoir plus ?" %}

{% include navigation.html %}

<header class="banner narrow {{page.ref}}">
  <div class="overlay"></div>
  <div class="container h-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 tag text-center">
        <h1>Témoignage de réussites en tant que partenaire logistique</h1>
      </div>
    </div>
  </div>
  <a href="#section2" class="scroll-arrow"><img src="{{site.baseurl}}/assets/img/svg/arrow.svg" alt="synogix"></a>
</header>

<section id="section2" class="my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zC6QP55YiJs" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <h2 class="h1 mb-3"><img src="{{site.baseurl}}/assets/img/references/trixie.svg"></h2>
            <h5 class="blue"><img src="{{site.baseurl}}/assets/img/references/industry.svg"><span class="align-bottom ml-2">Industrie</span></h5>
            <p class="lead">Trixie est une marque belge, spécialisée dans la fabrication de produits durables pour bébés et enfants. </p>
            <p><a href="https://www.trixie-baby.com/" target="_blank">www.trixie-baby.com</a></p>
            <span class="border-bottom d-block w-100 mb-3"></span>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="blue"><img src="{{site.baseurl}}/assets/img/references/challenge.svg"><span class="align-bottom ml-2">Défi</span></h5>
            <p>Trixie a acquis une bonne position sur son marché ces dernières années, avec un taux de croissance de 20 à 30%. Mais cela a également conduit à un certain nombre de difficultés logistiques croissantes, telles que des problèmes de capacité et des flux logistiques qui se sont déroulés un peu plus difficilement.</p>
            <p>Comme le portefeuille de clients de Trixie se compose d'un mélange de clients privés, de grandes chaînes et d'acteurs en ligne, ils recherchaient un partenaire logistique externe capable de gérer à la fois la distribution B2B et B2C. Et il a été en mesure de répondre aux exigences logistiques de certains des plus gros clients B2B.</p>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/solution.svg"><span class="align-bottom ml-2">Solution logistique</span></h5>
            <h6><strong>Réalisation omnicanale</strong></h6>
            <p>Grâce à nos nombreuses années d'expérience dans le traitement omnicanal, nous pouvons servir toutes sortes de clients finaux à partir du même entrepôt. Et nous pouvons traiter à la fois les grosses commandes B2B et les petites commandes de la boutique en ligne de manière rentable et rationalisée sur le plan opérationnel. En prenant en charge la logistique entrante et sortante de Trixie, nous avons pu rétablir le calme au sein de l'organisation </p>
            <p>De plus, nous veillons à ce que Trixie puisse recommencer à se concentrer pleinement sur son cœur de métier. En prenant en charge tous les processus logistiques. Pensez simplement à absorber les heures de pointe et les heures creuses, à offrir un espace de stockage supplémentaire et à répondre au besoin d'une meilleure structure (informatique). De cette façon, nous permettons à Trixie d'évoluer et de se développer encore plus.  </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section id="section2" class="py-5 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="h1 mb-3">Nous sommes le partenaire logistique de plusieurs marques reconnues</h2>
        <p><strong>De nombreuses marques de vêtements, de chaussures et de sport de renommée mondiale</strong> font déjà confiance à Synogix comme partenaire logistique. Chacun de nos clients a ses propres <strong>besoins et défis spécifiques</strong>. Synogix est très flexible et est toujours à la recherche d'une solution de chaîne d'approvisionnement appropriée pour chaque client.</p>
        <div class="logos py-5">
          <ul class="list-unstyled">
            {% for logo in site.data.references %}
            <li><a href="{{logo.url}}" target="_blank" rel="noreferrer"><img src="{{site.baseurl}}/assets/img/references/{{logo.image}}.svg" class="img-fluid" alt="{{logo.name}}"></a></li>
            {% endfor %}
          </ul>
          <p>Découvrez ci-dessous les défis spécifiques de nos clients et comment nous les avons relevés ensemble en tant que partenaire logistique.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-red white">
  <div class="container py-lg-5">
    <div class="row">
      <div class="col-12 col-xl-4 mb-4">
        <h2 class="h1 mb-5">Patrick</h2>

        <div class="card black p-4">
          <div class="card-body">
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/industry.svg"><span class="align-bottom ml-2">Industrie</span></h5>
            <p class="card-text">Patrick est spécialisé dans les tenues d'équipe pour les clubs sportifs.</p>

            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/challenge.svg"><span class="align-bottom ml-2">Enjeu</span></h5>
            <p class="card-text">Patrick est un exemple <strong>typique de livraisons de pointe</strong>. 70 % du volume total doit être livré aux clubs en 3 mois, juste avant le début d'une nouvelle saison.</p>
            <p class="card-text">De plus, Patrick a également un profil de <strong>commandes exceptionnel</strong>. Les clubs commandent des articles spécifiques pour chaque joueur qui doivent être personnalisés correctement plus tard dans le processus.</p>
            <h5 class="card-title blue"><img src="{{site.baseurl}}/assets/img/references/solution.svg"><span class="align-bottom ml-2">Solution logistique</span></h5>
            <p class="card-text">En tant que partenaire logistique de confiance, nous avons aidé Patrick à surmonter ces défis. Pour ce faire, nous avons investi dans un système de préparation de commandes révolutionnaire : <strong>AutoStore</strong>.</p>
            <p class="card-text">Avec l'aide d'AutoStore, les produits sont stockés dans 44.000 bacs empilés de manière extrêmement compacte, sur lesquels opèrent des robots. Cela rend le stockage et la préparation des commandes de Patrick impeccables, rapides, sans poussière, antivol et durables. </p>
            <p class="card-text"><a href="https://www.patrick.eu/" target="_blank">www.patrick.eu</a></p>
          </div>
        </div>


      </div>
      <div class="col-12 col-xl-8 mb-4">
        <p><img src="{{site.baseurl}}/assets/img/references/patrick-image.jpg" alt="patrick" class="img-fluid"></p>
      </div>
    </div>
  </div>
</section>

{% include carousel.html %}

{% include form.html title="Besoin de plus d'informations sur nos solutions de chaîne d'approvisionnement ?" %}
